.row{
    display: flex;
}
.col1{
    /* background-color: red; */
    height: 100vh;
    width: 50%;
    padding: 20px;
}
.col2{
    /* background-color: blue; */
    padding: 20px;
    height: 100vh;
    width: 50%;
    border-left: 2px solid rgb(108, 99, 255);
    
}
@media screen and (max-width:750px){
    .row{
        flex-direction: column;
        
    }
    .col1 {
        height: 100vh;
        width: 100%;
        /* background-color: red; */
    }
    .col2 {
        height: 100vh;
        width: 100%;
        /* background-color: blue; */
        border-top: 2px solid rgb(108, 99, 255);
        border-left: none;

    }
}