.container{
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
height: 90vh;
}
.header{
    display: flex;
    overflow-x: auto;
    padding: 5px 10px 10px 5px;
    gap: 20px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}
.sections{
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
}
.active{
    border-bottom: 2px solid  rgb(108, 99, 255);
    

}
.body{
    padding: 25px 20px 20px 20px;
}

